body{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    background: #f1ebe7;
    font-family: 'Open Sans', sans-serif;
  }
  .title{
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    color: #141c3a;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  #section1{
    height:calc(100vh - 110px);
    padding:80px 30px 30px 30px;
    position:relative;
  }

  #section2{
    height:100vh;
    position:relative;
  }

  #section1-picture{
    background-repeat: no-repeat;
    background-position: center;
width: 100%;
border-radius: 5px;
height:100%;
background-size: 100%;
background-image: url("pictures/header.webp");
  }

  #section1-main-text-container{
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  #section2-main-text-container{
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  .section1-text{
    font-size:60px;
    display: block;
    width: fit-content;
    color:white;
  }

  #section2-text2{
    margin:0 auto;
  }

  .section2-text{
    font-size:60px;
    display: block;
    width: fit-content;
    color:black;
  }

  #navbar{
    z-index:1;
    font-size:30px;
    height: 50px;
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }